<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <property name="SERVICE_ENVIRONMENT" value="${DEPLOYMENT_ENVIRONMENT:-local}"/>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>severity_text</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc/>
                <keyValuePairs/>
                <message/>
                <stackTrace/>
                <globalCustomFields>{"deployment.environment":"${SERVICE_ENVIRONMENT}"}</globalCustomFields>
            </providers>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="JSON_STDOUT"/>
    </root>
</configuration>
